{% extends 'base.html' %}
{% block title %}Todo's:tasks{% endblock %}
{% block content%}
<h2>List of tasks created</h2>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">created by</th>
        <th scope="col">created on</th>
        <th scope="col">action</th>
      </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
            <tr>
                <th scope="row"></th>
                <td>{{task.name}}</td>
                <td>{{task.user.username}}</td>
                <td>{{task.created_at}}</td>
                <td>{% if user.is_authenticated and user.id == task.user.id %}
                <a role="button" class="btn btn-primary" href="{% url 'task_detail' task.id %}"><span class="badge badge-light">edit task</span></a>
                <a role="button" class="btn btn-danger" href="{% url 'task_delete' task.id %}"><span class="badge badge-light">delete task</span></a>
                {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock %}
